@page "/seleccion-genero"
@using Horoscopo.Core.Entities
@inject NavigationManager _navigationManager
@inject Core.Entities.Registro Estado

<div class="pantalla-contenedor">
    <div class="header-azul">
        <button class="btn-volver-circular" @onclick='() => _navigationManager.NavigateTo("/")'>
            <i class="bi bi-arrow-left"></i> <span>←</span>
        </button>
        <span class="header-titulo">Tu Género</span>
    </div>

    <div class="contenido">
        <div class="progreso-seccion">
            <div class="progreso-container">
                <div class="punto activo"></div>
                <div class="linea"></div>
                <div class="punto"></div>
                <div class="linea"></div>
                <div class="punto"></div>
            </div>
            <h2 class="titulo-ingresa">INGRESA TU GÉNERO</h2>
        </div>

        <div class="iconos-fila">
            <div class="genero-item @(Estado.Genero == "Masculino" ? "seleccionado" : "")"
                 @onclick='() => Seleccionar("Masculino")'>
                <img src="images/gen-1.png" alt="Masc" class="img-genero" />
            </div>

            <div class="genero-item @(Estado.Genero == "Binario" ? "seleccionado" : "")"
                 @onclick='() => Seleccionar("Binario")'>
                <img src="images/gen-2.png" alt="NB" class="img-genero" />
            </div>

            <div class="genero-item @(Estado.Genero == "Femenino" ? "seleccionado" : "")"
                 @onclick='() => Seleccionar("Femenino")'>
                <img src="images/gen-3.png" alt="Fem" class="img-genero" />
            </div>
        </div>

        <div class="boton-contenedor">
            <button class="btn-naranja-redondeado" @onclick="Finalizar">
                INGRESAR
            </button>

            <p class="mensaje-error @(mostrarValidacion ? "visible" : "")">
                Por favor, selecciona una opción para continuar
            </p>
        </div>
    </div>
</div>

@code {
    private bool mostrarValidacion = false;

    private void Seleccionar(string genero)
    {
        Estado.Genero = genero;
        mostrarValidacion = false;  
    }

    private void Finalizar()
    {
        if (!string.IsNullOrEmpty(Estado.Genero))
        {
            Estado.RegistroConsultado = false;

            _navigationManager.NavigateTo("/registro");
        }
        else
        {
            mostrarValidacion = true;  
        }
    }
}