@page "/"
@inject NavigationManager _navigationManager

<div class="pantalla-celular">
    <div class="contenido-centrado text-center">
        <img src="images/dama.png" class="logo-principal mb-4" alt="Horóscopo Logo" />

        <button class="btn-naranja-redondeado" @onclick='() => _navigationManager.NavigateTo("/seleccion-genero")'>
            INGRESAR
        </button>
    </div>
</div>