@page "/"
@inject NavigationManager _navigationManager

<div class="pantalla-celular">
    <div class="contenido-centrado">
        <img src="images/dama.png" class="logo-principal" alt="Horóscopo Logo" />

        <button class="btn-naranja-redondeado" @onclick='() => _navigationManager.NavigateTo("/seleccion-genero")'>
            INGRESAR
        </button>

        <div class="mt-4 d-flex flex-column gap-2">
            <button class="btn btn-outline-primary" @onclick='() => _navigationManager.NavigateTo("/historial")'>
                VER HISTORIAL
            </button>
            <button class="btn btn-outline-info" @onclick='() => _navigationManager.NavigateTo("/estadisticas")'>
                VER ESTADÍSTICAS
            </button>
        </div>
    </div>
</div> 