@page "/registro"
@using Horoscopo.Core.Entities
@inject NavigationManager _navigationManager
@inject Core.Entities.Registro Estado

<div class="pantalla-contenedor">
    <div class="header-azul">
        <button class="btn-volver-circular" @onclick='() => _navigationManager.NavigateTo("/seleccion-genero")'>
            <i class="bi bi-arrow-left"></i> <span>←</span>
        </button>
        <span class="header-titulo">Tus Datos</span>
    </div>

    <div class="contenido">
        <div class="progreso-seccion">
            <div class="progreso-container">
                <div class="punto activo"></div>
                <div class="linea"></div>
                <div class="punto activo"></div>
                <div class="linea"></div>
                <div class="punto"></div>
            </div>

        <h3 class="titulo-ingresa">INGRESA TUS DATOS</h3>
        </div>

        <EditForm Model="@Estado" OnValidSubmit="ProcesarFormulario" OnInvalidSubmit="Validador" class="formulario-datos">
            <DataAnnotationsValidator />

            <div class="grupo-campos">
                <div class="fila-input">
                    <label>Nombre:</label>
                    <InputText @bind-Value="Estado.Nombre" class="input-linea-unica" @oninput="OcultarError" />
                </div>

                <div class="fila-input">
                    <label>Correo:</label>
                    <InputText @bind-Value="Estado.Email" class="input-linea-unica" @oninput="OcultarError" />
                </div>

                <div class="fila-input">
                    <label>Fecha de Nacimiento:</label>
                    <div class="contenedor-input-icono">
                        <InputDate @bind-Value="Estado.FechaNacimiento"
                                   class="input-linea-unica"
                                   max="@DateTime.Now.ToString("yyyy-MM-dd")"
                                   @oninput="OcultarError" />

                        <img src="images/calendario.png" class="icono-calendario" alt="calendario" style="pointer-events: none;" />
                    </div>
                </div>
            </div>

            <div class="fila-botones">
                <button type="button" class="btn-azul-redondeado" @onclick='() => _navigationManager.NavigateTo("/seleccion-genero")'>
                    VOLVER
                </button>
                <button type="submit" class="btn-naranja-redondeado">
                    CONTINUAR
                </button>
            </div>

            <p class="mensaje-error-form @(_mostrarError ? "visible" : "")">
                @_mensajeError
            </p>
        </EditForm>
 
    </div>
</div>


@code {
    private bool _mostrarError = false;
    private string _mensajeError = "";

    private void OcultarError() => _mostrarError = false;

    private void ProcesarFormulario()
    {
        _mostrarError = false;
        _navigationManager.NavigateTo("/resultado");
    }

    private void Validador()
    {
        if (string.IsNullOrWhiteSpace(Estado.Nombre) 
        || Estado.FechaNacimiento == null)
        {
            _mensajeError = "Por favor, completa tu nombre y/o fecha de nacimiento.";
            _mostrarError = true;
            return;
        }

        if (Estado.FechaNacimiento > DateTime.Today)
        {
            _mensajeError = "La fecha de nacimiento no puede ser mayor a hoy.";
            _mostrarError = true;
            return;
        }

        ProcesarFormulario();
    }
}