@page "/registro"
@using Horoscopo.Core.Entities
@inject NavigationManager _navigationManager
@inject Core.Entities.Registro Estado

<div class="pantalla-contenedor">
    <div class="header-azul">
        <button class="btn-volver-circular" @onclick='() => _navigationManager.NavigateTo("/seleccion-genero")'>
            <i class="bi bi-arrow-left"></i> <span>←</span>
        </button>
        <span class="header-titulo">Tus Datos</span>
    </div>

    <div class="contenido">
        <div class="progreso-seccion">
            <div class="progreso-container">
                <div class="punto activo"></div>
                <div class="linea"></div>
                <div class="punto activo"></div>
                <div class="linea"></div>
                <div class="punto"></div>
            </div>

        <h3 class="titulo-ingresa">INGRESA TUS DATOS</h3>
        </div>

        <EditForm Model="@Estado" OnValidSubmit="VerResultado" class="formulario-datos">
            <DataAnnotationsValidator />

            <div class="grupo-campos">
                <div class="fila-input">
                    <label>Nombre:</label>
                    <InputText @bind-Value="Estado.Nombre" class="input-linea-unica" />
                </div>

                <div class="fila-input">
                    <label>Correo:</label>
                    <InputText @bind-Value="Estado.Email" class="input-linea-unica" />
                </div>

                <div class="fila-input">
                    <label>Fecha de Nacimiento:</label>
                    <div class="contenedor-fecha">
                        <InputDate @bind-Value="Estado.FechaNacimiento" class="input-linea-unica" />
                        <img src="images/calendario.png" class="icono-calendario" alt="calendario" />
                    </div>
                </div>
            </div> 

            <div class="fila-botones" style="margin-top: 90px;">
                <button type="button" class="btn-azul-redondeado" @onclick='() => _navigationManager.NavigateTo("/seleccion-genero")'>
                    VOLVER
                </button>
                <button type="submit" style="padding: 8px 40px;" class="btn-naranja-redondeado">
                    CONTINUAR
                </button>
            </div>
        </EditForm>
@* 
            <div class="boton-contenedor">
                <button class="btn-naranja-redondeado" @onclick="Finalizar">
                    CONTINUAR
                </button>

                <p class="mensaje-error @(mostrarValidacion ? "visible" : "")">
                    Por favor, selecciona una opción para continuar
                </p>
            </div> *@ 
    </div>
</div>


@code {
    private void VerResultado() => _navigationManager.NavigateTo("/resultado");
}