.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    color-scheme: light only;
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.blazor-error-boundary {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNDkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIG92ZXJmbG93PSJoaWRkZW4iPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDAiPjxyZWN0IHg9IjIzNSIgeT0iNTEiIHdpZHRoPSI1NiIgaGVpZ2h0PSI0OSIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMCkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMzUgLTUxKSI+PHBhdGggZD0iTTI2My41MDYgNTFDMjY0LjcxNyA1MSAyNjUuODEzIDUxLjQ4MzcgMjY2LjYwNiA1Mi4yNjU4TDI2Ny4wNTIgNTIuNzk4NyAyNjcuNTM5IDUzLjYyODMgMjkwLjE4NSA5Mi4xODMxIDI5MC41NDUgOTIuNzk1IDI5MC42NTYgOTIuOTk2QzI5MC44NzcgOTMuNTEzIDI5MSA5NC4wODE1IDI5MSA5NC42NzgyIDI5MSA5Ny4wNjUxIDI4OS4wMzggOTkgMjg2LjYxNyA5OUwyNDAuMzgzIDk5QzIzNy45NjMgOTkgMjM2IDk3LjA2NTEgMjM2IDk0LjY3ODIgMjM2IDk0LjM3OTkgMjM2LjAzMSA5NC4wODg2IDIzNi4wODkgOTMuODA3MkwyMzYuMzM4IDkzLjAxNjIgMjM2Ljg1OCA5Mi4xMzE0IDI1OS40NzMgNTMuNjI5NCAyNTkuOTYxIDUyLjc5ODUgMjYwLjQwNyA1Mi4yNjU4QzI2MS4yIDUxLjQ4MzcgMjYyLjI5NiA1MSAyNjMuNTA2IDUxWk0yNjMuNTg2IDY2LjAxODNDMjYwLjczNyA2Ni4wMTgzIDI1OS4zMTMgNjcuMTI0NSAyNTkuMzEzIDY5LjMzNyAyNTkuMzEzIDY5LjYxMDIgMjU5LjMzMiA2OS44NjA4IDI1OS4zNzEgNzAuMDg4N0wyNjEuNzk1IDg0LjAxNjEgMjY1LjM4IDg0LjAxNjEgMjY3LjgyMSA2OS43NDc1QzI2Ny44NiA2OS43MzA5IDI2Ny44NzkgNjkuNTg3NyAyNjcuODc5IDY5LjMxNzkgMjY3Ljg3OSA2Ny4xMTgyIDI2Ni40NDggNjYuMDE4MyAyNjMuNTg2IDY2LjAxODNaTTI2My41NzYgODYuMDU0N0MyNjEuMDQ5IDg2LjA1NDcgMjU5Ljc4NiA4Ny4zMDA1IDI1OS43ODYgODkuNzkyMSAyNTkuNzg2IDkyLjI4MzcgMjYxLjA0OSA5My41Mjk1IDI2My41NzYgOTMuNTI5NSAyNjYuMTE2IDkzLjUyOTUgMjY3LjM4NyA5Mi4yODM3IDI2Ny4zODcgODkuNzkyMSAyNjcuMzg3IDg3LjMwMDUgMjY2LjExNiA4Ni4wNTQ3IDI2My41NzYgODYuMDU0N1oiIGZpbGw9IiNGRkU1MDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvZz48L3N2Zz4=) no-repeat 1rem/1.8rem, #b32121;
    padding: 1rem 1rem 1rem 3.7rem;
    color: white;
}

    .blazor-error-boundary::after {
        content: "An error has occurred."
    }

.loading-progress {
    position: absolute;
    display: block;
    width: 8rem;
    height: 8rem;
    inset: 20vh 0 auto 0;
    margin: 0 auto 0 auto;
}

    .loading-progress circle {
        fill: none;
        stroke: #e0e0e0;
        stroke-width: 0.6rem;
        transform-origin: 50% 50%;
        transform: rotate(-90deg);
    }

        .loading-progress circle:last-child {
            stroke: #1b6ec2;
            stroke-dasharray: calc(3.141 * var(--blazor-load-percentage, 0%) * 0.8), 500%;
            transition: stroke-dasharray 0.05s ease-in-out;
        }

.loading-progress-text {
    position: absolute;
    text-align: center;
    font-weight: bold;
    inset: calc(20vh + 3.25rem) 0 auto 0.2rem;
}

    .loading-progress-text:after {
        content: var(--blazor-load-percentage-text, "Loading");
    }

code {
    color: #c02d76;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
    color: var(--bs-secondary-color);
    text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
    text-align: start;
}

/*inicio - Home*/
.pantalla-celular {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: white;
}

.contenido-centrado {
    display: flex;
    flex-column: column;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 400px; 
}

.logo-principal {
    width: 80%; 
    max-width: 300px;
    margin-bottom: 50px;
}
.separador-botones {
    margin-top: 20px; 
}

.logo-principal {
    margin-bottom: 30px;
    max-width: 200px; 
}

.btn-naranja-redondeado {
    background-color: #fe6d1a;
    color: white;
    border: none;
    padding: 8px 60px; 
    border-radius: 15px;
    font-size: 1.1rem;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: transform 0.2s;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

.btn-naranja-suave {
    background-color: #ffb38a; 
    color: white;
    border: none;
    padding: 6px 15px; 
    width: fit-content; 
    border-radius: 20px;
    font-size: 0.75rem; 
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: all 0.2s;
    cursor: pointer;
    white-space: nowrap; 
}

    .btn-naranja-suave:active {
        transform: scale(0.95);
        background-color: #fe6d1a;
    }
/*fin - Home*/

/*inicio - genero*/
.header-azul {
    background-color: #005fa3;
    color: white;
    padding: 10px 20px;
    display: flex;
    align-items: center;
}

.btn-volver-circular {
    background-color: #004a80;
    border: none;
    color: white;
    width: 35px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    cursor: pointer;
    flex-shrink: 0;
}

.header-titulo {
    font-weight: 700;
    font-size: 1.3rem;
    font-family: 'Nunito Sans', sans-serif;
    margin-left: auto;
    text-align: right;
}

.contenido {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; /* Distribuye espacio entre arriba, centro y abajo */
    padding: 40px 20px 60px 20px;
}

/* Sección superior: Progreso y Título */
.progreso-seccion {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.progreso-container {
    display: flex;
    align-items: center;
    width: 80%; /* Más estirado */
    justify-content: center;
    margin-bottom: 30px;
}

.linea {
    flex-grow: 1; /* Hace que las líneas se estiren */
    height: 2px;
    background-color: #8ea9db;
    max-width: 120px; /* Controla el largo máximo del estiramiento */
}

.punto {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 2px solid #1a5a96;
    background-color: white;
}

    .punto.activo {
        background-color: #1a5a96;
    }

.titulo-ingresa {
    color: #8ea9db;
    font-size: 1.4rem;
    letter-spacing: 1px;
    font-weight: 800;
}

/* Logos de Género */
.iconos-fila {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: -50px; /* Sube los logos para que no queden tan abajo */
}

.img-genero {
    width: 110px; /* Más grandes como pediste */
    height: auto;
    transition: transform 0.3s ease;
}

.genero-item {
    cursor: pointer;
    border: 4px solid transparent;
    border-radius: 20px; /* Suave redondeado si se selecciona */
    padding: 10px;
}

    .genero-item.seleccionado {
        border-color: #fe6d1a;
        transform: scale(1.1);
    }

/* Botón Ingresar */
.btn-naranja-redondeado {
    background-color: #fe6d1a;
    color: white;
    border: none;
    padding: 12px 0;
    width: 200px;
    border-radius: 30px;
    font-weight: bold;
    box-shadow: 0 4px 10px rgba(254, 109, 26, 0.3);
}

/*fin - genero*/



/*inicio - registro*/

/*fin - registro*/
