.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    color-scheme: light only;
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.blazor-error-boundary {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNDkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIG92ZXJmbG93PSJoaWRkZW4iPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDAiPjxyZWN0IHg9IjIzNSIgeT0iNTEiIHdpZHRoPSI1NiIgaGVpZ2h0PSI0OSIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMCkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMzUgLTUxKSI+PHBhdGggZD0iTTI2My41MDYgNTFDMjY0LjcxNyA1MSAyNjUuODEzIDUxLjQ4MzcgMjY2LjYwNiA1Mi4yNjU4TDI2Ny4wNTIgNTIuNzk4NyAyNjcuNTM5IDUzLjYyODMgMjkwLjE4NSA5Mi4xODMxIDI5MC41NDUgOTIuNzk1IDI5MC42NTYgOTIuOTk2QzI5MC44NzcgOTMuNTEzIDI5MSA5NC4wODE1IDI5MSA5NC42NzgyIDI5MSA5Ny4wNjUxIDI4OS4wMzggOTkgMjg2LjYxNyA5OUwyNDAuMzgzIDk5QzIzNy45NjMgOTkgMjM2IDk3LjA2NTEgMjM2IDk0LjY3ODIgMjM2IDk0LjM3OTkgMjM2LjAzMSA5NC4wODg2IDIzNi4wODkgOTMuODA3MkwyMzYuMzM4IDkzLjAxNjIgMjM2Ljg1OCA5Mi4xMzE0IDI1OS40NzMgNTMuNjI5NCAyNTkuOTYxIDUyLjc5ODUgMjYwLjQwNyA1Mi4yNjU4QzI2MS4yIDUxLjQ4MzcgMjYyLjI5NiA1MSAyNjMuNTA2IDUxWk0yNjMuNTg2IDY2LjAxODNDMjYwLjczNyA2Ni4wMTgzIDI1OS4zMTMgNjcuMTI0NSAyNTkuMzEzIDY5LjMzNyAyNTkuMzEzIDY5LjYxMDIgMjU5LjMzMiA2OS44NjA4IDI1OS4zNzEgNzAuMDg4N0wyNjEuNzk1IDg0LjAxNjEgMjY1LjM4IDg0LjAxNjEgMjY3LjgyMSA2OS43NDc1QzI2Ny44NiA2OS43MzA5IDI2Ny44NzkgNjkuNTg3NyAyNjcuODc5IDY5LjMxNzkgMjY3Ljg3OSA2Ny4xMTgyIDI2Ni40NDggNjYuMDE4MyAyNjMuNTg2IDY2LjAxODNaTTI2My41NzYgODYuMDU0N0MyNjEuMDQ5IDg2LjA1NDcgMjU5Ljc4NiA4Ny4zMDA1IDI1OS43ODYgODkuNzkyMSAyNTkuNzg2IDkyLjI4MzcgMjYxLjA0OSA5My41Mjk1IDI2My41NzYgOTMuNTI5NSAyNjYuMTE2IDkzLjUyOTUgMjY3LjM4NyA5Mi4yODM3IDI2Ny4zODcgODkuNzkyMSAyNjcuMzg3IDg3LjMwMDUgMjY2LjExNiA4Ni4wNTQ3IDI2My41NzYgODYuMDU0N1oiIGZpbGw9IiNGRkU1MDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvZz48L3N2Zz4=) no-repeat 1rem/1.8rem, #b32121;
    padding: 1rem 1rem 1rem 3.7rem;
    color: white;
}

    .blazor-error-boundary::after {
        content: "An error has occurred."
    }

.loading-progress {
    position: absolute;
    display: block;
    width: 8rem;
    height: 8rem;
    inset: 20vh 0 auto 0;
    margin: 0 auto 0 auto;
}

    .loading-progress circle {
        fill: none;
        stroke: #e0e0e0;
        stroke-width: 0.6rem;
        transform-origin: 50% 50%;
        transform: rotate(-90deg);
    }

        .loading-progress circle:last-child {
            stroke: #1b6ec2;
            stroke-dasharray: calc(3.141 * var(--blazor-load-percentage, 0%) * 0.8), 500%;
            transition: stroke-dasharray 0.05s ease-in-out;
        }

.loading-progress-text {
    position: absolute;
    text-align: center;
    font-weight: bold;
    inset: calc(20vh + 3.25rem) 0 auto 0.2rem;
}

    .loading-progress-text:after {
        content: var(--blazor-load-percentage-text, "Loading");
    }

code {
    color: #c02d76;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
    color: var(--bs-secondary-color);
    text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
    text-align: start;
}

/*inicio - Home*/
.pantalla-celular {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: white;
}

.contenido-centrado {
    display: flex;
    flex-column: column;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 400px; 
}

.logo-principal {
    width: 80%; 
    max-width: 300px;
    margin-bottom: 50px;
}
.separador-botones {
    margin-top: 20px; 
}

.logo-principal {
    margin-bottom: 30px;
    max-width: 200px; 
}

.btn-naranja-redondeado {
    background-color: #fe6d1a;
    color: white;
    border: none;
    padding: 8px 60px; 
    border-radius: 15px;
    font-family: 'Nunito Sans', sans-serif;
    text-transform: uppercase;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: transform 0.2s;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

.btn-naranja-suave {
    background-color: #ffb38a; 
    color: white;
    border: none;
    padding: 6px 15px; 
    width: fit-content; 
    border-radius: 20px;
    font-size: 0.75rem; 
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: all 0.2s;
    cursor: pointer;
    white-space: nowrap; 
}

    .btn-naranja-suave:active {
        transform: scale(0.95);
        background-color: #fe6d1a;
    }
/*fin - Home*/

/*inicio - genero*/
.header-azul {
    background-color: #005fa3;
    color: white;
    padding: 10px 20px;
    display: flex;
    align-items: center;
}

.btn-volver-circular {
    background-color: #004a80;
    border: none;
    color: white;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    cursor: pointer;
    flex-shrink: 0;
}

.header-titulo {
    font-weight: 700;
    font-size: 1.3rem;
    font-family: 'Nunito Sans', sans-serif;
    margin-left: auto;
    text-align: right;
}

.contenido {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 40px 20px 60px 20px;
}

.progreso-seccion {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}

.progreso-container {
    display: flex;
    align-items: center;
    width: 80%; 
    justify-content: center;
    margin-bottom: 5px;
}

.linea {
    flex-grow: 1; 
    height: 2px;
    background-color: #8ea9db;
    max-width: 120px;
}

.punto {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 2px solid #1a5a96;
    background-color: white;
}

.punto.activo {
    background-color: #1a5a96;
}

.titulo-ingresa {
    color: #8ea9db;
    font-size: 1.4rem;
    letter-spacing: 1px;
    font-weight: 800;
    margin-top: 5;
}

.iconos-fila {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}

.img-genero {
    width: 110px;
    height: auto;
    transition: transform 0.3s ease;
}

.genero-item {
    cursor: pointer;
    border: 4px solid transparent;
    border-radius: 40px; 
}

.genero-item.seleccionado {
    border-color: #fe6d1a;
    transform: scale(1.1);
}


.boton-contenedor {
    margin-top: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.mensaje-error {
    color: #ffb38a;  
    font-size: 0.85rem;
    margin-top: 10px;
    font-weight: 600;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;  
}

.mensaje-error.visible {
    opacity: 1;
}
      
/*fin - genero*/



/*inicio - registro*/

.valid.modified:not([type=checkbox]) {
    outline: none !important;
    border-bottom: 2px solid #8ea9db !important; 
}

.invalid {
    outline: none !important;
    border-bottom: 2px solid #ffb38a !important;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    right: 0;
    width: 30px;
    height: 100%;
    cursor: pointer;
    opacity: 0;  
    z-index: 2;
}

.contenedor-input-icono {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

.formulario-datos {
    width: 100%;
    max-width: 350px;
    margin-top: 20px;
}

.fila-input {
    display: flex;
    align-items: flex-start;
    margin-bottom: 30px;  
}

    .fila-input label {
        color: #8ea9db;
        font-weight: 600;
        font-size: 1.1rem;
        margin-bottom: 5px;
    }

.input-linea-unica {
    border: none;
    border-bottom: 1px solid #d1d1d1;
    width: 100%;
    padding: 8px 45px 5px 0;
    font-size: 1.2rem;
    outline: none;
    background: transparent;
}

.contenedor-fecha {
    display: flex;
    width: 100%;
    align-items: center;
    position: relative;
}

.icono-calendario {
    position: absolute;
    right: 5px;
    width: 25px;
    z-index: 1;
}

.fila-botones {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin-top: 50px;
}

.btn-azul-redondeado {
    background-color: #005fa3;
    color: white;
    border: none;
    padding: 8px 40px;
    width: 45%;
    border-radius: 15px;
    font-size: 0.9rem;
    font-family: 'Nunito Sans', sans-serif;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: transform 0.2s;
    cursor: pointer;
    text-align:center;

}
 
.linea.activo {
    background-color: #1a5a96;
}


.mensaje-error-form.visible {
    opacity: 1;
}
.mensaje-error-form {
    color: #ffb38a;
    font-size: 0.85rem;
    font-weight: 600;
    text-align: center;
    margin-top: 20px;
    opacity: 0;
    transition: opacity 0.3s ease;
}
/*fin - registro*/


/*fin - resultado*/

.bloque-cumple {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.hola-usuario {
    text-align: center;
    width: 100%;
}

.bloque-signo {
    width: 100%;
    display: flex;
    justify-content: center;
}


.img-signo-decor { 
    object-fit: contain;
    display: block;
    margin-left: 0;
    margin-right: auto;
    padding-left: 10px;
}

.img-icono-api {
    width: 40px;
    height: 40px;
    opacity: 0.8;
}

.texto-signo-nombre {
    color: #ff4d6d; 
    font-weight: 900;
    font-size: 2.8rem;
    margin: 10px 0;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
}

.contenedor-prediccion {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 15px;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.05);
    margin: 20px 0;
}

.texto-prediccion {
    font-size: 1.1rem;
    color: #555;
    line-height: 1.6;
    font-style: italic;
}
/*fin - resultado*/

/*inicio - historial*/


.pantalla-contenedor {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: #F4F7F9;
}

.header-azul {
    background-color: #1a5a96;
    color: white;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.contenido-historial {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
}

.card-consulta {
    background: white;
    border-radius: 12px;
    padding: 15px;
    margin-bottom: 12px;
    align-items: center;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
    border-left: 5px solid #fe6d1a;
    width: 100%; 
    box-sizing: border-box;
}

.icono-signo-contenedor img {
    height: 45px;
}

.info-consulta {
 display: flex;
    flex-direction: column;
    min-width: 0; 
    flex-grow: 1;
}

.nombre-usuario {
    display: block;
    word-wrap: break-word; 
    overflow-wrap: break-word;
    white-space: normal; 
    max-width: 100%;
}

.detalle-signo {
    color: #666;
    font-size: 0.9rem;
}

.fecha-consulta {
    color: #999;
    font-size: 0.8rem;
    margin-top: 4px;
}

.btn-circular-volver {
    position: absolute;
    left: 15px;
    background: rgba(255,255,255,0.2);
    border: none;
    color: white;
    border-radius: 50%;
    width: 32px;
    height: 32px;
}

/*fin - historial*/

/*inicio - estadisticas*/

.ranking-contenedor {
    background: white;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
}

.fila-ranking {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    gap: 10px;
}

.info-ranking {
    display: flex;
    align-items: center;
    width: 110px; 
}

.nombre-signo {
    font-size: 0.85rem;
    font-weight: bold;
    color: #333;
}

.barra-progreso-contenedor {
    flex-grow: 1;
    height: 8px;
    background: #f0f0f0;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.barra-llenado {
    height: 100%;
    background: linear-gradient(90deg, #fe6d1a, #ffb38a);
    border-radius: 10px;
    transition: width 1s ease-in-out;
}

.cantidad-votos {
    font-size: 0.85rem;
    font-weight: bold;
    color: #1a5a96;
    min-width: 25px;
    text-align: right;
}

.mini-signo {
    width: 25px;
    height: 25px;
    margin-right: 8px;
    object-fit: contain;
}

.card-stats {
    background: white;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
    border-left: 5px solid #fe6d1a;
    margin-top: 20px;
}

.stat-item {
    text-align: center;
}

.stat-label {
    display: block;
    font-size: 0.7rem;
    color: #888;
    font-weight: bold;
}

.stat-value {
    font-size: 1.2rem;
    color: #1a5a96;
    font-weight: bold;
}

.stat-divider {
    width: 1px;
    height: 40px;
    background: #eee;
}

/*fin - estadisticas*/